## Import the relevant libraries

In [7]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

#Apply a fix to the statsmodels library
from scipy import stats
stats.chisqprob = lambda chisq, df: stats.chi2.sf(chisq, df)

## Load the data

In [8]:
raw_data = pd.read_csv('2.02. Binary predictors.csv')
raw_data

      SAT Admitted  Gender
0    1363       No    Male
1    1792      Yes  Female
2    1954      Yes  Female
3    1653       No    Male
4    1593       No    Male
5    1755      Yes  Female
6    1775      Yes  Female
7    1887      Yes  Female
8    1893      Yes  Female
9    1580       No    Male
10   1857      Yes  Female
11   1880      Yes  Female
12   1664      Yes  Female
13   1364       No    Male
14   1693       No    Male
15   1850      Yes  Female
16   1633       No    Male
17   1634       No    Male
18   1636      Yes  Female
19   1855      Yes  Female
20   1987      Yes  Female
21   1997      Yes    Male
22   1422       No  Female
23   1508       No  Female
24   1720      Yes  Female
25   1879      Yes    Male
26   1634      Yes  Female
27   1802      Yes    Male
28   1849      Yes  Female
29   1764      Yes  Female
..    ...      ...     ...
138  1412       No  Female
139  1557       No    Male
140  1821      Yes    Male
141  1760      Yes  Female
142  1685      Yes    Male
143  1773      Yes  Female
144  1826      Yes  Female
145  1565       No  Female
146  1510       No    Male
147  1374       No    Male
148  1402       No    Male
149  1702      Yes    Male
150  1956      Yes  Female
151  1933      Yes    Male
152  1832      Yes    Male
153  1893      Yes    Male
154  1831      Yes  Female
155  1487       No    Male
156  2041      Yes  Female
157  1850      Yes    Male
158  1555       No  Female
159  2020      Yes  Female
160  1593       No    Male
161  1934      Yes  Female
162  1808      Yes    Male
163  1722      Yes  Female
164  1750      Yes    Male
165  1555       No    Male
166  1524       No    Male
167  1461       No    Male

[168 rows x 3 columns]

In [9]:
data = raw_data.copy()
data['Admitted'] = data['Admitted'].map({'Yes': 1, 'No': 0})
data['Gender'] = data['Gender'].map({'Female': 1, 'Male': 0})
data

      SAT  Admitted  Gender
0    1363         0       0
1    1792         1       1
2    1954         1       1
3    1653         0       0
4    1593         0       0
5    1755         1       1
6    1775         1       1
7    1887         1       1
8    1893         1       1
9    1580         0       0
10   1857         1       1
11   1880         1       1
12   1664         1       1
13   1364         0       0
14   1693         0       0
15   1850         1       1
16   1633         0       0
17   1634         0       0
18   1636         1       1
19   1855         1       1
20   1987         1       1
21   1997         1       0
22   1422         0       1
23   1508         0       1
24   1720         1       1
25   1879         1       0
26   1634         1       1
27   1802         1       0
28   1849         1       1
29   1764         1       1
..    ...       ...     ...
138  1412         0       1
139  1557         0       0
140  1821         1       0
141  1760         1       1
142  1685         1       0
143  1773         1       1
144  1826         1       1
145  1565         0       1
146  1510         0       0
147  1374         0       0
148  1402         0       0
149  1702         1       0
150  1956         1       1
151  1933         1       0
152  1832         1       0
153  1893         1       0
154  1831         1       1
155  1487         0       0
156  2041         1       1
157  1850         1       0
158  1555         0       1
159  2020         1       1
160  1593         0       0
161  1934         1       1
162  1808         1       0
163  1722         1       1
164  1750         1       0
165  1555         0       0
166  1524         0       0
167  1461         0       0

[168 rows x 3 columns]

## Declare the dependent and the independent variables

In [10]:
y = data['Admitted']
x1 = data[['SAT','Gender']]

## Regression

In [11]:
x = sm.add_constant(x1)
reg_log = sm.Logit(y,x)
results_log = reg_log.fit()
results_log.summary()
# we have a low llr pvalue which is good

Optimization terminated successfully.
         Current function value: 0.120117
         Iterations 10

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Admitted   No. Observations:                  168
Model:                          Logit   Df Residuals:                      165
Method:                           MLE   Df Model:                            2
Date:                Mon, 12 Nov 2018   Pseudo R-squ.:                  0.8249
Time:                        19:28:52   Log-Likelihood:                -20.180
converged:                       True   LL-Null:                       -115.26
                                        LLR p-value:                 5.118e-42
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -68.3489     16.454     -4.154      0.000    -100.598     -36.100
SAT            0.0406      0.010      4.129      0.000       0.021       0.060
Gender         1.9449      0.846      2.299      0.022       0.287       3.603
==============================================================================

Possibly complete quasi-separation: A fraction 0.27 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""

In [13]:
# log(odds) = -68.34 + 1.94 (gender)
# => log(odds_males) = -68.34 + 1.94 (gender_m)
# log(odds_females) = -68.34 + 1.94 (gender_f)
# => log(odds_females/odds_males) = 1.94(gender_f - gender_m)
# => log(odds_females/odds_males) = 1.94
# => odds_females/odds_males = exp(1.94)
# => odds of a female being admitted is exp(1.94) times the odds of the males
np.exp(1.9449)

6.9929325268144593